*/.ipynb_checkpoints
Capstone Two/venv/
Capstone Two/notes.txt
Capstone Two/logs.log
Capstone Two/catboost_info/
Capstone Two/planning notebooks/
Capstone Two/graphs/EDA/pairplots/
Capstone Two/graphs/EDA/ydata/
Capstone Two/graphs/EDA/plotly*
11.1 Statistical Inference/Frequentist Inference Case Study - Part B - Solutions.ipynb
11.1 Statistical Inference/insurance2.csv"
8.3.3 SQL Case Study/files/sqlite_db_pythonsqlite.db
14.x Model Review with Titanic
14.x Classification Study
